<!DOCTYPE html>
<html>
 <head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="标记内容太短，则搜索引擎可能不会认为这些内容相关。另外标记不应超过 874 个字符">
	<meta name="description" content="不超过150个字符">
	<title><%= pageTitle %></title>
	<link rel="stylesheet" href="sass/index.scss">
	<!--STYLE_PLACEHOLDER-->
	<script type="text/javascript" src="js/lib/mod.js"></script>

	<style type="text/css">
		body {
			 padding-top: 50px;
		}
	</style>

	<script type="text/javascript">
		window.performanceInfo = {};
		window.performanceInfo.whiteScreenTime = +new Date();
		window.performanceInfo.firstScreenTime = 0;
		window.performanceInfo.pageview = "<%= 'web-' + projectName %>";
	</script>
 </head>
 <body>
	<div class="banner"></div>
	
	<div class="nav">
			<div class="tab1 on">	
				<img src="./img/text_tab1_active.png" class="text_tab1">
			</div>
			<div class="tab2">
				<img src="./img/text_tab2.png" class="text_tab2">	
			</div>
	</div>

	<div class="wrap">
			<div id="container">
				<div class="panel_1 on">			
				   <% if(isSecondTab == "yes") { %>
				    <!-- 二级tab -->
					<div class="sec_tab on_sec_tab_1">
						<div class="top">
							<div class="left on" id="sec_tab_1"><img src="./img/text_sec_tab_1_active.png" class="text_sec_tab_1"></div>
							<div class="right" id="sec_tab_2"><img src="./img/text_sec_tab_2.png" class="text_sec_tab_2"></div>
						</div>
						<div class="sec_panel_1 on"></div>
						<div class="sec_panel_2"></div>
					</div>
				   <% } %>
				</div>

				<div class="panel_2">
					<img src="./img/rule.png">				    
				</div>
			</div>
		</div>
<% if(isPop == "yes") { %>
	<!-- 一级弹框 -->
	<div class="info_wrap">
	</div>

	<!-- 二级弹框 -->
	<div class="info_wrap2"></div>
<% } %>
	


   <script type="text/javascript" src="js/index.js" data-loader></script>
   <script src="//a.msstatic.com/huya/common/header_lg.js"></script>
   <!--ignore-->

   <!--SCRIPT_PLACEHOLDER-->
   <script type="text/javascript">
	  require('js/mod/app');
   </script>
   <script src="//a.msstatic.com/huya/hd/cdn_libs/performance_report-min.js"></script>
   <!--ignore-->
   <script src="//a.msstatic.com/huya/common/footer.js"></script>
  <!--ignore-->
 </body>
</html>

