<!DOCTYPE html>
<html>
 <head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="标记内容太短，则搜索引擎可能不会认为这些内容相关。另外标记不应超过 874 个字符">
	<meta name="description" content="不超过150个字符">
	<title>偶像联盟大对决</title>
	<link rel="stylesheet" href="/css/index.css">
	    
	<script type="text/javascript" src="/js/lib/mod.js"></script>


	<style type="text/css">
		body {
			 padding-top: 50px;
		}
	</style>

	<script type="text/javascript">
		window.performanceInfo = {};
		window.performanceInfo.whiteScreenTime = +new Date();
		window.performanceInfo.firstScreenTime = 0;
		window.performanceInfo.pageview = "201805activity";
	</script>
 </head>
 <body>
	<div class="banner"></div>
	
	<div class="nav">
			<div class="tab1 on">	
				<img src="/img/text_tab1_active.png" class="text_tab1">
			</div>
			<div class="tab2">
				<img src="/img/text_tab2.png" class="text_tab2">	
			</div>
	</div>

	<div class="wrap">
			<div id="container">
				<div class="panel_1 on">
				
					<!-- 我的联盟和对战实况 -->
					<div class="league_and_live on_live">
							<div class="top">
								<div class="left" id="live"><img src="/img/text_live_active.png" class="text_live"></div>
								<div class="right on" id="my_league"><img src="/img/text_my_league.png" class="text_my_league"></div>
							</div>
						<!-- 我的联盟 -->
						<div class="my_league">
						
							<!-- 已加入联盟，非团长 -->
						  <!-- <div class="league_added">
							<div class="center">
								<div class="league_name">联盟名称：<span>这里名称名称最多十二个字</span></div>
								<div class="league_logo">联盟挂件：<img src="./img/logo4.png"></div>
								<div class="league_people_number">联盟成员：<span>5/5</span></div>
								<div class="league_reputation">总知名度：<span>9999999</span></div>
								<div class="league_rank">联盟排名：<span>999</span></div>
								<a href="javascript:void(0);" class="league_exit_btn">退出联盟</a>	
							</div>
							<div class="bottom">
								<div class="bottom_top">
									<ul>
									   <li>序号</li>
									   <li>主播昵称</li>
									   <li>偶像类型</li>
									   <li>知名度</li>
									   <li>偶像类型排名</li>
									   <li>操作</li>
									</ul>
								</div>
								<div class="bottom_bottom">
									<ul class="leaderboard_2">
									   <li>
											<div class="list">1</div>
											<div class="left">
												<div class="head_wrap">
													<div class="head">
														<img src="img/head.png" class="head_pic">
													</div>
														<img src="img/online.png" class="is_online"> </div>
													<span class="name">我是主播昵称是有十二个字</span>
											</div>
											<div class="right">
													<div class="col_1">颜值担当</div>
													<div class="col_2">13212312</div>
													<div class="col_3">9</div>
													<div class="col_4">-</div>
											</div>
										</li>
									   </ul> 
								</div>
							</div>
						  </div>	
	 -->
	
						  <!-- 已创建联盟，团长 -->
						  <!-- <div class="league_created">
							<div class="center">
								<div class="league_name">联盟名称：<span>这里名称名称最多十二个字</span></div>
								<div class="league_logo">联盟挂件：<img src="./img/logo4.png"></div>
								<div class="league_people_number">联盟成员：<span>5/5</span></div>
								<div class="league_reputation">总知名度：<span>9999999</span></div>
								<div class="league_rank">联盟排名：<span>999</span></div>
								<div class="league_approval">
										<a href="javascript:void(0);" class="approval_btn">加盟审批</a>
										<div class="approval_number">2</div>
								</div>
								<a href="javascript:void(0);" class="league_dissolution_btn">解散联盟</a>
							</div>
							<div class="bottom">
								<div class="bottom_top">
									<ul>
											<li>序号</li>
											<li>主播昵称</li>
											<li>偶像类型</li>
											<li>知名度</li>
											<li>偶像类型排名</li>
											<li>操作</li>
									</ul>
								</div>
								<div class="bottom_bottom">
									<ul class="leaderboard_2">
											<li>
												<div class="list">1</div>
												<div class="left">
													<div class="head_wrap">
														<div class="head">
															<img src="img/head.png" class="head_pic">
														</div>
															<img src="img/online.png" class="is_online">
															<img src="img/leader.png" class="leader">
													</div>
														<span class="name">我是主播昵称是有十二个字</span>
												</div>
												<div class="right">
														<div class="col_1">颜值担当</div>
														<div class="col_2">13212312</div>
														<div class="col_3">9</div>
														<div class="col_4"><a href="javascript:void(0);" class="out">踢出</a></div>
												</div>
											</li>
									</ul> 
								</div>
							</div>
						  </div> -->
	
						  <!-- 主播未加入联盟 -->
						  <!-- <div class="league_not_added">
								<div class="center">
									<div class="left">你当前职业：
										<p class="role">人气担当</p> 
										<a href="javascript:void(0);" class="change_role_btn">更改</a>
									</div>
									<div class="right">你还没有加入任何联盟，可以选择联盟加入哦！或者
										<a href="javascript:void(0);" class="add_league_btn">创建联盟</a>
									</div>
								</div>
								<div class="center_2">
									<div class="search">
										<input type="text" placeholder="战队名称或主播名称" class="search_input">
										<a href="javascript:void(0);" class="search_btn">搜索</a>
									</div>
									<div class="select_type">
										<ul>
											<li><div class="select on"></div>缺人气担当</li>
											<li><div class="select"></div>缺才艺担当</li>
											<li><div class="select"></div>缺智慧担当</li>
											<li><div class="select"></div>缺气质担当</li>
											<li><div class="select"></div>缺颜值担当</li>
										</ul>
									</div>
								</div>
								<div class="bottom">
									<div class="bottom_top">
											<ul>
												<li class="rank">排名</li>
												<li class="league_name">战队名称</li>
												<li class="league_people">战队成员</li>
												<li>知名度</li>
												<li>操作</li>
											</ul>
									</div>
									<div class="bottom_bottom">
											<ul class="leaderboard_2">
											   <li>
													<div class="list">1</div>
													<div class="left">
														<div class="league_name">	名称的名称最多有十二个字</div>
														<div class="logo_wrap">
															<img src="./img/logo2.png">
														</div>
													</div>
													<div class="right">
															<div class="col_1">
																<div class="head_wrap">
																   <a>
																	 <img src="../img/head.png" class="head_pic">
																   </a>
																   <img src="../img/online.png" class="is_online">
																   <img src="img/leader.png" class="leader">
																</div>
																<div class="head_wrap">
																		<a>
																		  <img src="../img/head.png" class="head_pic">
																		</a>
																		<img src="../img/online.png" class="is_online">
																</div>
																<div class="head_wrap">
																		<a>
																		  <img src="../img/head.png" class="head_pic">
																		</a>
																		<img src="../img/online.png" class="is_online">
																</div>
																<div class="head_wrap">
																		<a>
																		  <img src="../img/head.png" class="head_pic">
																		</a>
																		<img src="../img/online.png" class="is_online">
																	 </div>
																	 <div class="head_wrap">
																			<a>
																			  <img src="../img/head.png" class="head_pic">
																			</a>
																			<img src="../img/online.png" class="is_online">
																		 </div>
															</div>
															<div class="col_2">13212312</div>
															<div class="col_3">
																<a href="javascript:void(0);" class="add_please_btn">申请加入</a>
																<a href="javascript:void(0);" class="look_more_btn">查看详情</a>
															</div>
													</div>
												</li>
											   </ul> 
										</div>
								</div>
						  </div>
	 -->
	
						  <!-- 不是主播 -->
						  <!-- <div class="not_anchor">
								<div class="bottom"></div>
						  </div> -->
	
						  <!-- 未登录 -->
						  <!-- <div class="not_login">
								<div class="center"></div>
								<div class="bottom">
									请<a href="javascript:void(0);" class="login_btn">登录</a>后查看
								</div>
						  </div> -->
						</div>
	
						<!-- 对战实况 -->
						<div class="live on">
							<!-- 对决实况 -->
							<div class="fight_live ">

								<% if(fightLive.status && (fightLive.status == 200)){  %>
									<%- include("template/fightLive/fightLive.tpl",{'data': fightLive.data}) %>
								<% } else {} %>
								<!-- <div class="top">
									联盟对决实况<span>展现对决双方当前收获的[赞]数量总和排名前三的对决实况</span>
								</div>
								<div class="bottom">
									<ul>
										<li>
											<div class="ul_top">
												<div class="popularity"></div>
											</div>
											<div class="ul_center">
												<div class="left">
													<div class="ul_center_top">
														<img src="./img/meng.png"> 
														<p class="name">名称名称一共是有十字</p>
													</div>
													<div class="ul_center_bottom">
													<a>
														<img src="./img/head.png">
													</a>
														<p class="name">
															名称名称一共八字
														</p>
													</div>
												</div>
												<div class="right">
													<div class="ul_center_top">
															<img src="./img/meng.png"> 
															<p class="name">名称名称一共是有十字</p>
													</div>
													<div class="ul_center_bottom">
															<img src="./img/head.png">
															<p class="name">
																名称名称一共八字
															</p>
													</div>
												</div>
											</div>
											<div class="ul_bottom">
												<div class="ul_bottom_left">
													<img src="./img/like.png">
													<span>56433</span>
												</div>
												<div class="ul_bottom_right">
													<img src="./img/like.png">
													<span>35612</span>
												</div>
											</div>
										</li>
									</ul>
								</div> -->
							</div>

							<!-- 战神榜 -->
							<div class="fight_god">

								<% if(god.status && (god.status == 200)){  %>
									<%- include("template/god/god.tpl",{'data': god.data}) %>
								<% } else {} %>
								<!-- <div class="top">
									战神争夺实况<span>59分59秒后榜首用户可成为战神，获得战神挂件+入场横幅</span>
								</div>
								<div class="bottom">
									<div class="bottom_top">我当前PK贡献"赞"数为
										<span class="my_score">1012345</span>
										，排名<span class="my_rank">999+</span>
									</div>
									<div class="bottom_center">
										<div class="center_top">
											<ul>
												<li class="rank">排名</li>
												<li class="league_name">用户昵称</li>
												<li class="like_number">PK贡献"赞"数</li>
											</ul>
										</div>
										<div class="center_bottom">
											<ul class="leaderboard_2">
												<li>
													<div class="list">1</div>
													<div class="left">
														<div class="head_wrap">
															<div class="head">
																<img src="img/head.png" class="head_pic">
															</div>
														</div>
															<span class="name">我是主播昵称是有十二个字發送到</span> <img src="./img/logo2.png">
													</div>
													<div class="right">
															<div class="col_1">13212312</div>									
													</div>
												</li>
											</ul> 
										</div>
									</div>
									<div class="bottom_bottom">
										<div class="left">
											<img src="./img/god.png" class="god_cover">
											<img src="./img/head.png" class="head_pic">
										</div>
										<div class="right">
											<span class="name">这里用户昵称八字</span>
											的战神之位暂时无人撼动！
										</div>
									</div>
								</div> -->
							</div>

							<!-- 对决战报 -->
							<div class="fight_news">


								<% if(news.status && (news.status == 200)){  %>
									<%- include("template/news/news.tpl",{'data': news.data}) %>
								<% } else {} %>
									<!-- <div class="top">粉丝团狂欢快报</div>
									<div class="bottom live_bottom_bottom">
										<ul class="news">
											<li>
												<span class="time">2018年4月10日 23:00</span>
												<span class="popularity">人气对决</span>
												<img class="head_pic" src="./img/head.png">
												<span class="name">我是主播昵称八字</span><img src="./img/meng.png">&nbsp;挑战&nbsp;
												<img class="head_pic" src="./img/head.png">
												<span class="name">我是主播昵称8字</span><img src="./img/meng.png">
												<img>， 大获全胜，知名度
												<span class="score">+10086</span>
											</li>
										</ul>
									</div> -->
							</div>

							<!-- 对决实况hover -->
							<div class="fight_live_hover">
								<!-- <div class="top">联盟名称：
									<span class="league_name">正规娘子军</span>
									<span class="attack_or_guard">(防守方)</span>
								</div>
								<div class="bottom">
									<ul>
										<li>
											<span class="is_main">主战：</span>
											<span class="role popularity">人气担当</span>
											<span class="name">我是主播哈哈哈哈哈哈</span>
											&nbsp;&nbsp;赞数量：
											<span class="like_number">9999999</span>
										</li>
									</ul>
								</div> -->
							</div>
					
						</div>
					</div>

						<!-- 最强联盟排行榜 -->
				        <div class="best_league">
								<div class="top">
										<img src="/img/best_league_text.png">
									</div>
									 <div class="center">
											<ul>
												<li class="rank">排名</li>
												<li class="league_name">所属联盟</li>
												<li class="league_people">联盟成员</li>
												<li>知名度</li>
												<li class="oprate">操作</li>
											</ul>
									 </div>
									 <div class="bottom"  id="leaderboard_best_league">
											
										<% if(bestLeague.status && (bestLeague.status == 200)){  %>
											<%- include("template/bestLeague/bestLeague.tpl",{'index': 0, 'data': bestLeague.data, 'isFirst': true}) %>
										<% } else {} %>
											
									 </div>	
							<!-- <div class="top">
								<img src="./img/best_league_text.png">
							</div>
						     <div class="center">
									<ul>
										<li class="rank">排名</li>
										<li class="league_name">所属联盟</li>
										<li class="league_people">联盟成员</li>
										<li>知名度</li>
										<li class="oprate">操作</li>
									</ul>
							 </div>
							 <div class="bottom">
									<ul class="leaderboard_2">
											<img class="best_league_none" src="../img/board_none.png">
									</ul> 
							 </div> -->
						</div>
						
						<!-- 最佳偶像 -->
						<div class="best_idol">
								<div class="top">
										<img src="/img/best_idol_text.png">
								</div>
							<div class="center">
								<ul>	
									<li class="active  best_idol_change_btn best_idol_change_btn1">才艺担当</li>	
									<li class="best_idol_change_btn best_idol_change_btn0">人气担当</li>	
									<li class="best_idol_change_btn best_idol_change_btn2">智慧担当</li>
									<li class="best_idol_change_btn best_idol_change_btn3">气质担当</li>	
									<li class="best_idol_change_btn best_idol_change_btn4">颜值担当</li>								
																
								</ul>
							</div>
							<div class="bottom">
								<div class="bottom_top">
								   <ul>
									 <li class="rank">排名</li>
									 <li>主播昵称</li>
									 <li>所属联盟</li>
									 <li>知名度</li>
								   </ul>
								</div>
								<div class="bottom_bottom"  id="leaderboard_best_idol">				
									<% 
									if(bestIdol.status && (bestIdol.status == 200)){   %>
										<%- include("template/bestIdol/bestIdol.tpl",{'role': 1, 'index': 0, 'data': bestIdol.data, 'isFirst': true}) %>
									<% } else {} %>										
								</div>	
							</div>
						</div>

				</div>

				<div class="panel_2">
					<img src="/img/rule.png">				    
				</div>
			</div>
		</div>

	<!-- 一级弹框 -->
	<div class="info_wrap">
		
		  
		<!--更改偶像类型  -->
		<!-- <div class="pop1 on">
			<div class="top">更改偶像类型<div class="close"></div></div>
			<div class="bottom">
				<div class="bottom_top">
					<div class="idol_type">当前偶像类型：<p class="type1 role_now">颜值担当</p></div>
					<div class="reputation">知名度：<p class="score">123456</p></div>
				</div>
				<div class="bottom_center">
					<ul>
						<li class="type1 on">人气担当</li>
						<li class="type2">才艺担当</li>
						<li class="type3">智慧担当</li>
						<li class="type4">气质担当</li>
						<li class="type5">颜值担当</li>
					</ul>
					<p>注：更换偶像类型后知名度奖清零</p>
				</div>
				<div class="bottom_bottom">
					<a href="javascript:void(0);" class="ensure_btn ensure_change_role_btn">确认更改</a>
					<a href="javascript:void(0);" class="cancel_btn">取消</a>
				</div>
			</div>
		</div> -->

	  	<!-- 确认是否更改偶像类型 -->
		<!-- <div class="pop2">
			<div class="top">更改偶像类型<div class="close"></div></div>
			<div class="bottom">
				<div class="bottom_top">
				   <img src="./img/logo6.png">
				</div>
				<div class="bottom_center">
				 <p>当前偶像类型为<span>气质担当</span>,将更改成为<span>才艺担当</span>，<br>
				  更改后知名度清空重计，是否确认更改？</p> 
				</div>
				<div class="bottom_bottom">
					<a href="javascript:void(0);" class="ensure_btn">确认</a>
					<a href="javascript:void(0);" class="cancel_btn">我再想想</a>
				</div>
			</div>
		</div> -->



    	<!--  成功创建联盟-->
	    <!-- <div class="pop3">
			<div class="top">创建联盟<div class="close"></div></div>
			<div class="bottom">
				<div class="bottom_top">
				   <img src="./img/logo6.png">
				</div>
				<div class="bottom_center">
				<p>你已成功创建联盟：<span>战队名称名称最多十二个字</span>
				</div>
				<div class="bottom_bottom">
					<a href="javascript:void(0);" class="ensure_btn">好的</a>
				</div>
			</div>
		</div> -->


		<!--  联盟无空缺，加入失败-->
		<!-- <div class="pop4">
				<div class="top">更改偶像类型<div class="close"></div></div>
				<div class="bottom">
					<div class="bottom_top">
						<img src="./img/logo6.png">
					</div>
					<div class="bottom_center">
						<p>该联盟暂无<span>气质担当</span>的空缺，无法加入！</p>
						<p class="info1">尝试加入其它联盟吧！</p>
					</div>
					<div class="bottom_bottom">
						<a href="javascript:void(0);" class="ensure_btn">好的</a>
					</div>
				</div>
		</div> -->

    	<!--  创建联盟填写表单 -->
		<!-- <div class="pop5">
				<div class="top">创建联盟<div class="close"></div></div>
				<div class="bottom">
					<div class="bottom_top">
						联盟名称：<input type="text"  class="league_name_input" placeholder="限制8个以内的中文字符长度">
						<p class="p1">请输入名称！</p>
						<div class="bottom_top_center">
					     	联盟挂件名称：<input type="text"  class="league_logo__name_input">
						    <p class="p2">该名称已被占用！</p>
					    </div>
					</div>
					<div class="bottom_center">
						注：<span>挂件将用于联盟主播的粉丝在公屏发言时昵称后的显示。</span><br>
							<span>联盟挂件需与联盟名称相关，两个名称提交后不可修改，请谨慎填写</span>
					</div>
					<div class="bottom_bottom">
						<a href="javascript:void(0);" class="ensure_btn">确认创建</a>
					</div>
				</div>
		</div> -->


    	<!--  成功更改偶像类型-->
	    <!-- <div class="pop6">
				<div class="top">更改偶像类型<div class="close"></div></div>
				<div class="bottom">
					<div class="bottom_top">
					   <img src="./img/logo6.png">
					</div>
					<div class="bottom_center">
					 <p>你已成功更改偶像类型！</p> 
					</div>
					<div class="bottom_bottom">
						<a href="javascript:void(0);" class="ensure_btn">好的</a>
					</div>
				</div>
		</div> -->


		<!--  审批失败，该职位已有人-->
		<!-- <div class="pop7">
				<div class="top">加盟审批<div class="close"></div></div>
				<div class="bottom">
					<div class="bottom_top">
						<img src="./img/logo6.png">
					</div>
					<div class="bottom_center">
						<p>审批失败！联盟中已存在<span>气质担当</span>的偶像类型主播！</p>
					</div>
					<div class="bottom_bottom">
						<a href="javascript:void(0);" class="ensure_btn">好的</a>
					</div>
				</div>
		</div> -->

		<!-- 联盟详情 -->
		<!-- <div class="pop8">
			<div class="top">联盟详情<div class="close"></div></div>
			<div class="center">
					<div class="col_1">联盟名称：<span>这里名称名称最多十二个字</span></div>
					<div class="col_2">联盟挂件：
						<div class="league_logo">
							<img src="./img/logo1.png">
						</div>
					</div>
					<div class="col_3">联盟成员：<span>5/5</span></div>
					<div class="col_4">总知名度：<span>9999</span></div>
					<div class="col_5">联盟排名：<span>999+</span></div>
			</div>
			<div class="bottom">
				<div class="bottom_top">
					<ul>
						<li class="rank">序号</li>
						<li class="league_name">主播昵称</li>
						<li class="league_people">偶像类型</li>
						<li>知名度</li>
						<li>偶像类型排名</li>
					</ul>
				</div>
				<div class="bottom_bottom">
					<ul class="leaderboard_2">
							<li>
								<div class="list">1</div>
								<div class="left">
									<div class="head_wrap">
										<div class="head">
											<img src="img/head.png" class="head_pic">
										</div>
											<img src="img/online.png" class="is_online"> 
											<img src="img/leader.png" class="leader">
									</div>
											
										<span class="name">我是主播昵称是有十二个字</span>
								</div>
								<div class="right">
										<div class="col_1">颜值担当</div>
										<div class="col_2">13212312</div>
										<div class="col_3">9</div>
								</div>
							</li>
					</ul> 
				</div>
			</div>
		</div> -->

		<!-- 加盟审批 -->
		<!-- <div class="pop9">
				<div class="top">加盟审批<div class="close"></div></div>
				<div class="center">
						<div class="col_1">当前联盟成员组成(1/5)：
								<ul>
										<li class="type5">颜值担当</li>
										<li class="type4">气质担当</li>
										<li class="type1 active">人气担当</li>
										<li class="type3">智慧担当</li>
										<li class="type2">才艺担当</li>				
								</ul>
						</div>
				</div>
				<div class="bottom">
					<div class="bottom_top">
							<ul>
								<li class="rank">序号</li>
								<li class="league_name">主播昵称</li>
								<li class="league_people">偶像类型</li>
								<li class="reputation">知名度</li>
								<li class="type">偶像类型排名</li>
								<li class="time">申请时间</li>
								<li class="oprate">操作</li>
							</ul>
					</div>
					<div class="bottom_bottom">
							<ul class="leaderboard_2">
									<li>
										<div class="list">1</div>
										<div class="left">
											<div class="head_wrap">
												<div class="head">
													<img src="img/head.png" class="head_pic">
												</div>
													<img src="img/online.png" class="is_online"> 
											</div>
													
												<span class="name">我是主播昵称是有十二个字</span>
										</div>
										<div class="right">
												<div class="col_1">颜值担当</div>
												<div class="col_2">13212312</div>
												<div class="col_3">9</div>
												<div class="col_4">7月14日 20:30</div>
												<div class="col_5">
													<a href="javascript:void(0);" class="permit_btn">通过</a>
													<a href="javascript:void(0);" class="refuse_btn">拒绝</a>
												</div>
										</div>
									</li>
							</ul> 
					</div>
				</div>
		</div> -->

	</div>

	<!-- 二级弹框 -->
	<div class="info_wrap2"></div>
	


   <script type="text/javascript" src="/js/index.js" data-loader></script>

<!--RESOURCEMAP_PLACEHOLDER-->   <script src="//a.msstatic.com/huya/common/header_lg.js"></script>
   

   <script type="text/javascript" src="/js/common.js"></script>
   <script type="text/javascript">
	  require('app.js');
   </script>
   <script src="//a.msstatic.com/huya/hd/cdn_libs/performance_report-min.js"></script>
   
   <script src="//a.msstatic.com/huya/common/footer.js"></script>
  
 </body>
</html>