@import "/sass/tool/__mixins";
/**
 * @name: 头部banner图片通用样式
 * @param: $url {str}  背景图片链接
 * @parak: $height {number} 图片高度
 */

@mixin banner($url, $height: 640px) {
    background: url($url) center top;
    min-width: 1400px;
    height: $height;
}

/**
 * @name: 头像，可以显示是否在线通用样式
 * @param: $h-w {string}  头像宽高
 * @param: $position-bottom {string} 在线图标距离头像底部位置
 * @param: $position-right {string} 在线图标距离头像右侧位置
 */

@mixin head_wrap($h-w: 60px, $position-bottom: -2px, $position-right: 0) {
    position: relative;
    float: left;
    width: $h-w;
    height: $h-w;
    .head_pic {
        width: $h-w;
        height: $h-w;
        border-radius: $h-w/2;
    }
    .is_online {
        position: absolute;
        right: $position-right;
        bottom: $position-bottom;
        z-index: 20;
    }
}

/**
 * @name: 页面主要内容区域包裹层样式
 * @param: $url {string}  页面背景图片
 */

@mixin container_wrap($url) {
    background: #fff4ca url($url) no-repeat top center;
    min-width: 1400px;
    #container {
        margin: 0 auto;
        padding-top: 40px;
        min-width: 1200px;
        .panel_1,
        .panel_2 {
            display: none;
            &.on {
                display: block;
            }
        }
    }
}

/**
 * @name: 分页组件样式
 * @param: $font-color {string} 未选中时字体颜色
 * @param: $bg-url {string}  背景图片，就是选中的那个背景圆
 */

@mixin page($font-color, $bg-url) {
    // 分页组件
    font-size: 14px;
    text-align: center;
    width: 660px;
    margin: 30px auto;
    a {
        padding: 5px 6px;
        color: white;
    }
    .prev_page,
    .next_page {
        color: $font-color;
    }
    .page_choose {
        color: $font-color;
    }
    .page_active {
        background: url($bg-url) no-repeat 0 5px;
        color: white;
    }
}

/**
 * @name: 快报样式
 * @param: $row-number {number} 快报行数
 */

@mixin news() {
    box-sizing: border-box;
    height: 1168px;
    width: 1177px;
    a:hover {
        text-decoration: none;
    }
    .top {
        height: 35px;
        background: url("../img/bg4.png") no-repeat left center;
        font-size: 20px;
        color: #6645d0;
        font-weight: bold;
        padding-left: 20px;
    }
    .bottom {
        height: 318px;
        background: url("../img/bg_report.png") no-repeat left center;
        padding-left: 30px;
        overflow: hidden;
        position: relative;
        ul {
            position: absolute;
            top: 0;
            left: 40px;
            .news_none {
                position: absolute;
                top: 4px;
                left: -68px;
                z-index: 10;
            }
            li {
                font-size: 14px;
                margin-bottom: 25px;
                color: #9375f4;
                .time {
                    margin-right: 15px;
                    color: #6945d8;
                }
                .role {
                    border-radius: 9px;
                    color: white;
                    padding: 0 5px;
                    margin: 0 15px;
                }
                .popularity {
                    @extend .role;
                    background-color: #5ab3e4;
                }
                .talent {
                    @extend .role;
                    background-color: #bf56ff;
                }
                .head_wrap {
                    width: 60px;
                    height: 60px;
                    position: relative;
                    display: inline-block;
                    .head_pic {
                        margin-right: 10px;
                        width: 60px;
                        height: 60px;
                        border-radius: 30px;
                    }
                    .is_online {
                        position: absolute;
                        right: 0;
                        bottom: 0;
                        z-index: 20;
                    }
                }
                .name {
                    display: inline-block;
                    @include ellipsis;
                    max-width: 130px;
                    margin-bottom: -6px;
                    color: #6945d8;
                }
                .name_and_meng {
                    display: inline-block;
                    width: 157px;
                    height: 16px;
                    line-height: 22px;
                    .name {
                        float: left;
                        @include ellipsis;
                        max-width: 130px;
                        margin-bottom: -6px;
                        color: #6945d8;
                    }
                    .meng {
                        float: left;
                        position: relative;
                        left: 5px;
                        top: 3px;
                    }
                }
                .horn {
                    height: 20px;
                    position: relative;
                    top: -3px;
                }
                .score {
                    color: #fd6260;
                }
            }
        }
    }
}

/**
 * @name: 排行榜标题样式
 * @param: $width {string} 标题整体宽度
 * @param: $height {string} 标题整体高度
 * @param: $width-1 {string} 第一列宽度
 * @param: $width-2 {string} 第二列宽度
 * @param: $width-3 {string} 第三列宽度
 * @param: $width-4 {string} 第四列宽度
 * @param: $width-5 {string} 第五列宽度
 * @param: $font-color {string} 字体颜色
 * @param: $font-size {string} 字体大小
 */

@mixin rank_top($height: 35px,
$font-color: black,
$font-size: 14px,
$width-1: 100px,
$width-2: 100px,
$width-3: 100px,
$width-4: 100px,
$width-5: 100px) {
    ul {
        height: $height;
        @include clearfix;
        li {
            float: left;
            height: $height;
            line-height: $height;
            font-size: $font-size;
            font-weight: bold;
            color: $font-color;
            &.col_1 {
                width: $width-1;
            }
            &.col_2 {
                width: $width-2;
            }
            &.col_3 {
                width: $width-3;
            }
            &.col_4 {
                width: $width-4;
            }
            &.col_5 {
                width: $width-5;
            }
        }
    }
}

/**
 * @name: 排行榜列表样式
 * @param: $width {string} 列表整体宽度
 * @param: $height {string} 列表整体高度
 * @param: $width-1 {string} 第一列宽度
 * @param: $width-2 {string} 第二列宽度
 * @param: $width-3 {string} 第三列宽度
 * @param: $width-4 {string} 第四列宽度
 * @param: $width-5 {string} 第五列宽度
 * @param: $font-color {string} 字体颜色
 * @param: $font-size {string} 字体大小
 */

@mixin rank($width: 1014px,
$height: 850px) {
    height: $height;
    width: $width;
    overflow: hidden;
    li {
        overflow: hidden;
        .col_1 {
            color: #433c09;
            width: 40px;
            height: 30px;
            background: url("/img/bg_list.png") no-repeat 9px 4px;
            float: left;
            margin: 25px 55px 0 -5px;
            padding-left: 18px;
            font-size: 15px;
            line-height: 33px;
        }
        .list1 {
            background: url("/img/first.png") 5px no-repeat;
        }
        .list2 {
            background: url("/img/second.png") 5px no-repeat;
        }
        .list3 {
            background: url("/img/third.png") 5px no-repeat;
        }
        .list_lg10 {
            padding-left: 15px;
        }
        .col_3 {
            float: left;
            width: 236px;
            height: 80px;
            line-height: 80px;
            text-align: left;
            font-size: 15px;
            .head_wrap {
                position: relative;
                float: left;
                width: 56px;
                height: 56px;
                line-height: 60px;
                margin-top: 10px;
                margin-right: 18px;
                .head_pic {
                    width: 56px;
                    height: 56px;
                    border-radius: 28px;
                }
                .is_online {
                    position: absolute;
                    right: 10px;
                    bottom: -4px;
                    z-index: 20;
                }
            }
            .name {
                float: left;
                max-width: 118px;
                @include ellipsis();
                text-decoration: none;
                color: #ffffff;
            }
        }
        .col_2,
        .col_4,
        .col_5 {
            color: #ffffff;
            font-size: 14px;
            float: left;
            height: 80px;
            line-height: 80px;
            text-align: center;
        }
        .col_3 {
            width: 150px;
            margin-left: 73px;
        }
    }
}

/**
 * @name: 报名页搜索框样式
 * @param: 
 */

@mixin input() {
    border-radius: 6px;
    width: 415px;
    height: 35px;
    background-color: #9050ff;
    line-height: 25px;
    float: left;
    .search_input,
    .search_apply_input {
        font-family: "Microsoft YaHei", 微软雅黑, "Microsoft JhengHei", 华文细黑, STHeiti, MingLiu;
        display: inline-block;
        background-color: #46096f;
        color: #f8efff;
        height: 31px;
        width: 350px;
        font-size: 14px;
        margin-top: 2px;
        border: none;
        margin-left: 3px;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        padding-left: 5px;
        &::-webkit-input-placeholder {
            color: #f8efff;
            font-size: 14px;
            padding-left: 5px;
            font-family: "Microsoft YaHei", 微软雅黑, "Microsoft JhengHei", 华文细黑, STHeiti, MingLiu;
        }
        &:-moz-placeholder {
            color: #f8efff;
            font-size: 14px;
            padding-left: 5px;
            font-family: "Microsoft YaHei", 微软雅黑, "Microsoft JhengHei", 华文细黑, STHeiti, MingLiu;
        }
        &::-moz-placeholder {
            color: #f8efff;
            padding-left: 5px;
            font-family: "Microsoft YaHei", 微软雅黑, "Microsoft JhengHei", 华文细黑, STHeiti, MingLiu;
        }
        &:-ms-input-placeholder {
            color: #f8efff;
            font-size: 14px;
            padding-left: 5px;
            font-family: "Microsoft YaHei", 微软雅黑, "Microsoft JhengHei", 华文细黑, STHeiti, MingLiu;
        }
    }
    .search_btn,
    .search_apply_btn {
        color: white;
        font-size: 14px;
        line-height: 35px;
        padding-left: 11px;
        display: inline-block;
    }
}

/**
 * @name: 通用确认弹框样式
 * @param: $bg-color {string} 周围背景颜色
 * @param: $bg-inner-color {string} 内部背景颜色
 * @param: $font-color {string} 文本字体颜色
 */

@mixin popConfirm($bg-color: #7959df,
$bg-inner-color: #f0edff,
$font-color: #ffffff) {
    display: none;
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -140px 0 0 -260px;
    background-color: $bg-color;
    height: 354px;
    width: 440px;
    z-index: 80;
    .top {
        font-weight: bold;
        font-size: 16px;
        color: white;
        text-align: left;
        width: 448px;
        height: 40px;
        line-height: 40px;
        padding-left: 15px;
        .close {
            background: url("/img/close.png") no-repeat;
            height: 20px;
            width: 20px;
            float: right;
            margin: 10px 15px 0 0;
            cursor: pointer;
        }
    }
    .bottom {
        padding-left: 25px;
        padding-right: 25px;
        width: 430px;
        height: 305px;
        background-color: $bg-inner-color;
        margin: 0 auto;
        padding-top: 20px;
        .bottom_top {
            height: 120px;
            text-align: center;
            line-height: 100px;
        }
        .bottom_center {
            text-align: center;
            min-height: 60px;
            max-height: 75px;
            font-size: 14px;
            color: $font-color;
            p {
                text-align: center;
                font-size: 14px;
                color: $font-color;
                span {
                    color: #ffe00e;
                    font-size: 14px;
                    height: 42px;
                }
            }
        }
        .bottom_bottom {
            @include clearfix;
            .ensure_btn {
                float: left;
                color: #ffe00e;
                font-size: 14px;
                font-weight: bold;
                text-align: center;
                display: block;
                height: 42px;
                width: 100px;
                background: url("/img/bg_ensure_btn.png") no-repeat;
                line-height: 36px;
                margin: 20px 35px;
            }
            .cancel_btn {
                float: left;
                color: white;
                font-size: 14px;
                font-weight: bold;
                text-align: center;
                display: block;
                height: 42px;
                width: 100px;
                background: url("/img/bg_cancel_btn.png") no-repeat;
                line-height: 36px;
                margin: 20px 20px 0 30px;
            }
        }
    }
    &.on {
        display: block;
    }
}

/**
 * @name: 通用消息弹框样式
 * @param: $bg-color {string} 周围背景颜色
 * @param: $bg-inner-color {string} 内部背景颜色
 * @param: $font-color {string} 文本字体颜色
 */

@mixin pop($bg-color: #7959df,
$bg-inner-color: #f0edff,
$font-color: #ffffff) {
    display: none;
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -140px 0 0 -260px;
    background-color: $bg-color;
    height: 354px;
    width: 440px;
    z-index: 80;
    .top {
        font-weight: bold;
        font-size: 16px;
        color: white;
        text-align: left;
        width: 448px;
        height: 40px;
        line-height: 40px;
        padding-left: 15px;
        .close {
            background: url("/img/close.png") no-repeat;
            height: 20px;
            width: 20px;
            float: right;
            margin: 10px 15px 0 0;
            cursor: pointer;
        }
    }
    .bottom {
        padding-left: 25px;
        padding-right: 25px;
        width: 430px;
        height: 305px;
        background-color: $bg-inner-color;
        margin: 0 auto;
        padding-top: 20px;
        .bottom_top {
            height: 120px;
            text-align: center;
            line-height: 100px;
        }
        .bottom_center {
            min-height: 60px;
            max-height: 75px;
            text-align: center;
            font-size: 14px;
            color: $font-color;
            p {
                text-align: center;
                font-size: 14px;
                color: $font-color;
                span {
                    color: #ffe00e;
                    font-size: 14px;
                    height: 42px;
                }
            }
        }
        .bottom_bottom {
            @include clearfix;
            .ensure_btn {
                display: block;
                color: #ffe00e;
                font-size: 14px;
                font-weight: bold;
                text-align: center;
                display: block;
                height: 42px;
                width: 100px;
                background: url("/img/bg_ensure_btn.png") no-repeat;
                line-height: 36px;
                margin: 20px auto;
            }
        }
    }
    &.on {
        display: block;
    }
}