/**
 * @name: 头部banner图片通用样式
 * @param: $url {str}  背景图片链接
 * @parak: $height {number} 图片高度
 */

@mixin banner($url, $height: 640px) {
    background: url($url) center top;
    min-width: 1400px;
    height: $height;
}

/**
 * @name: 头像，可以显示是否在线通用样式
 * @param: $h-w {number}  头像宽高
 * @param: $position-bottom {number} 在线图标距离头像底部位置
 * @param: $position-right {number} 在线图标距离头像右侧位置
 */

@mixin head_wrap($h-w: 60px, $position-bottom: -2px, $position-right: 0) {
    position: relative;
    float: left;
    width: $h-w;
    height: $h-w;
    .head_pic {
        width: $h-w;
        height: $h-w;
        border-radius: $h-w/2;
    }
    .is_online {
        position: absolute;
        right: $position-right;
        bottom: $position-bottom;
        z-index: 20;
    }
}

/**
 * @name: 页面主要内容区域包裹层样式
 * @param: $url {string}  页面背景图片
 */

@mixin container_wrap($url) {
    background: #fff4ca url($url) no-repeat top center;
    min-width: 1400px;
    #container {
        margin: 0 auto;
        padding-top: 40px;
        min-width: 1200px;
        .panel_1,
        .panel_2 {
            display: none;
            &.on {
                display: block;
            }
        }
    }
}

/**
 * @name: 分页组件样式
 * @param: $font-color {string} 未选中时字体颜色
 * @param: $bg-url {string}  背景图片，就是选中的那个背景圆
 */

@mixin page($font-color, $bg-url) {
    // 分页组件
    font-size: 14px;
    text-align: center;
    width: 660px;
    margin: 30px auto;
    a {
        padding: 5px 6px;
        color: white;
    }
    .prev_page,
    .next_page {
        color: $font-color;
    }
    .page_choose {
        color: $font-color;
    }
    .page_active {
        background: url($bg-url) no-repeat 0 5px;
        color: white;
    }
}

<% if(isNews == "yes") { %>
/**
 * @name: 快报样式
 * @param: $row-number {number} 快报行数
 */

@mixin news() {
    box-sizing: border-box;
    height: 1168px;
    width: 1177px;
    a:hover {
        text-decoration: none;
    }
    .top {
        height: 35px;
        background: url("../img/bg4.png") no-repeat left center;
        font-size: 20px;
        color: #6645d0;
        font-weight: bold;
        padding-left: 20px;
    }
    .bottom {
        height: 318px;
        background: url("../img/bg_report.png") no-repeat left center;
        padding-left: 30px;
        overflow: hidden;
        position: relative;
        ul {
            position: absolute;
            top: 0;
            left: 40px;
            .news_none {
                position: absolute;
                top: 4px;
                left: -68px;
                z-index: 10;
            }
            li {
                font-size: 14px;
                margin-bottom: 25px;
                color: #9375f4;
                .time {
                    margin-right: 15px;
                    color: #6945d8;
                }
                .role {
                    border-radius: 9px;
                    color: white;
                    padding: 0 5px;
                    margin: 0 15px;
                }
                .popularity {
                    @extend .role;
                    background-color: #5ab3e4;
                }
                .talent {
                    @extend .role;
                    background-color: #bf56ff;
                }
                .wisdom {
                    @extend .role;
                    background-color: #fca24d;
                }
                .temperament {
                    @extend .role;
                    background-color: #3eb1b1;
                }
                .yanzhi {
                    @extend .role;
                    background-color: $yanzhi-color;
                }
                .head_wrap {
                    width: 60px;
                    height: 60px;
                    position: relative;
                    display: inline-block;
                    .head_pic {
                        margin-right: 10px;
                        width: 60px;
                        height: 60px;
                        border-radius: 30px;
                    }
                    .is_online {
                        position: absolute;
                        right: 0;
                        bottom: 0;
                        z-index: 20;
                    }
                }
                .name {
                    display: inline-block;
                    @include ellipsis;
                    max-width: 130px;
                    margin-bottom: -6px;
                    color: #6945d8;
                }
                .name_and_meng {
                    display: inline-block;
                    width: 157px;
                    height: 16px;
                    line-height: 22px;
                    .name {
                        float: left;
                        @include ellipsis;
                        max-width: 130px;
                        margin-bottom: -6px;
                        color: #6945d8;
                    }
                    .meng {
                        float: left;
                        position: relative;
                        left: 5px;
                        top: 3px;
                    }
                }
                .horn {
                    height: 20px;
                    position: relative;
                    top: -3px;
                }
                .score {
                    color: #fd6260;
                }
            }
        }
    }
}
<% } %>